<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>metapoly_mymodule</name>
	<displayName><![CDATA[Metapoly - My Module]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Lorem ipsum dolor sit amet]]></description>
	<author><![CDATA[Valentin C.]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
